body {
    
    
    font-family: Helvetica, Arial, sans-serif;
}

.left-div {
    float: left;
    padding-left: 281px;
    padding-top: 130px;
}

.right-div {
    float: left;

    padding-top: 78px;
    padding-left: 85px;

}

.blue {
    color: #007FFF;
    font-size: 41px;
}

.black {
    font-size: 18px;
}

.button:hover {
    background-color: #007FFF;
    cursor: pointer;
}

.button {
    color: white;
    border-radius: 5px;
    border: none;
    width: 253px;
    height: 35px;
    background-color: #007FFF;
}

.button1:hover {
    cursor: pointer;
    background-color: #06a006;

}

.button1 {
    font-size: 12px;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 130px;
    height: 32px;
    background-color: #119611;
   
   
    
}

.forget:hover {
    text-decoration: underline;
}

.forget {
    font-size: 10px;
   
    color: #008AD8;
    align-items: center;
    padding: 76px; 
    
   
}

.forget:hover {
    cursor: pointer;

}

.lowerdiv {
    font-size: 9px;
    color: rgb(141, 168, 168);
    padding-left: 23%;
    text-align: left;
    padding-top: 15px;
    background: white;

}

.creatpage:hover {
    text-decoration: underline;
}

.lastpart {
    font-size: 10px;
}

.box {
    border: 0.4px rgb(210, 206, 206) solid;
    padding: 8px;
    box-shadow: 1px 0.6px rgb(159, 158, 158) #e9e7e7;
    width: 256px;
    height: 225px;
    background-color:white;
    padding-bottom: 0px;



}

.hr {

    color: rgb(99, 98, 97);
}

input {
    box-sizing: border-box;
    width: 100x;
    height: 35px;
}

input[type=text] {
    border: 0.8px solid #008AD8;
    border-radius: 5px;
    border-color: dodgerblue;
    padding-left: 3%;
}

input[type=text]:focus {


    border-radius: 5px;
    border-color: rgb(16, 133, 251);


}

input[type=password]:focus {


    border-radius: 5px;
    border-color: rgb(16, 134, 253);


}

input[type=password] {
    border: 0.8px solid #008AD8;
    border-radius: 5px;
    border-color: dodgerblue;
    padding-left: 3%;
}

.uperdiv {
 background-color: rgb(240, 240, 240);
 height: 470px;
 border: none;
}
